<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.mybatis3.mapper.MyBatisTestReuseMapper">
	<insert id="insert" parameterType="com.example.dto.MyBatisTestInsert">
		INSERT INTO mybatis_test (id, name, create_date)
		 VALUES (#{id}, #{name}, #{createDate})
	</insert>
	
	<update id="update" parameterType="com.example.dto.MyBatisTestUpdate">
		UPDATE
		 mybatis_test
		SET
		 name = #{name}
		 ,mod_date = #{modDate}
		WHERE
		 id = #{updateId}
	</update>

	<delete id="initialize">
		DELETE FROM mybatis_test
	</delete>

</mapper>